@model qVisitor.Models.qvVisitiorPhoto

@{
    ViewData["Title"] = "Details";
}


<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Просмотр фотографии</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="btn-group btn-breadcrumb" style="padding-bottom:20px;">
        <a asp-controller="Home" asp-action="Index" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
        <a asp-controller="qvVisitors" asp-action="Index" class="btn btn-default">Посетители</a>
        <a asp-controller="qvVisitors" asp-action="Details" asp-route-id=@Model.VisitorId class="btn btn-default"> Фотография </a>
        <a href="#" class="btn btn-default"> Просмотр фотографии</a>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-list-alt"></i>
                    Просмотр фотографии
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Model.PhotoDate.Date.ToString("d")
                            </dt>
                            <dd>
                                @if (@Model.Photo != null)
                                {
                                    <img style='width:480px; height:360px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(@Model.Photo))" />
                                }
                            </dd>
                        </dl>
                    </div>
                    <div>
                        <a style="color:#333;" asp-controller="qvVisitiorPhotoes" asp-action="Edit" asp-route-id="@Model.Id">
                            <button class="btn">Изменить</button>
                        </a>
                        <a style="color:#333;" asp-controller="qvVisitors" asp-action="Details" asp-route-id="@Model.VisitorId">
                            <button class="btn">Назад к списку</button>
                        </a>
                    </div>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
    <div>
        @{
           // Html.RenderPartial("~/Views/qvCities/Index.cshtml", Model.Cities);
        }
    </div>

</div>

<!-- jQuery -->
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="~/bower_components/metisMenu/dist/metisMenu.min.js"></script>

<!-- DataTables JavaScript -->
<script src="~/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="~/js/sb-admin-2.js"></script>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
                responsive: true
        });
    });
</script>