@model qVisitor.Models.qvHotEntrance

@{
    ViewData["Title"] = "Details";
}


<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Сведения о заявке на посетителя @Html.DisplayFor(model => model.Surname) @Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Surname)</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="btn-group btn-breadcrumb" style="padding-bottom:20px;">
        <a asp-controller="Home" asp-action="Index" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
        <a asp-controller="qvCheckPoints" asp-action="Index" class="btn btn-default">КПП</a>
        <a asp-controller="qvCheckPoints" asp-action="Details" asp-route-id="@ViewBag.Reffid" class="btn btn-default">КПП №@ViewBag.Reffid</a>
        <a href="#" class="btn btn-default">Зарегистрировать посетителя</a>
    </div>
    <!-- /.row -->
    <div>
        @{

            Html.RenderPartial("~/Views/qvHotEntranceDocs/Index.cshtml", Model.HotEntranceDocs);
        }
        <div class="well">
            <a style="color:#333;" asp-controller="qvHotEntranceDocs" asp-action="Create" asp-route-myid="@Model.Id" asp-route-reffid="@ViewBag.Reffid">
                <button type="button" class="btn">Добавить документы посетителя</button>
            </a>
        </div>
    </div>
    <div>
        @{

            Html.RenderPartial("~/Views/qvHotEntrancePhotoes/Index.cshtml", Model.HotEntrancePhotoes);
        }
        <div class="well">
            <a style="color:#333;" asp-controller="qvHotEntrancePhotoes" asp-action="Create" asp-route-myid="@Model.Id" asp-route-reffid="@ViewBag.Reffid">
                <button type="button" class="btn">Добавить фотографию посетителя</button>
            </a>
        </div>
    </div>

<!-- jQuery -->
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="~/bower_components/metisMenu/dist/metisMenu.min.js"></script>

<!-- DataTables JavaScript -->
<script src="~/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="~/js/sb-admin-2.js"></script>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
                responsive: true
        });
    });
</script>